version: '2'
services:

  # The wildfly running in the domain mode container (master)
  hawkfly-domain-ha-master:
    #build: ../../../images/master/03-ha-domain
    image: "jkremser/hawkfly-domain-ha:latest"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
    environment:
      - WAIT_SECONDS=20

  # The wildfly running in the domain mode container (slave)
  hawkfly-domain-ha-slave:
    #build: ../../../images/slave/00-base
    image: "jkremser/hawkfly-domain-slave-base"
    links:
      - hawkfly-domain-ha-master
    environment:
      - DOMAIN_CONTROLLER_HOST=hawkfly-domain-ha-master
      - DOMAIN_CONTROLLER_PORT=9990
      - SERVERS=ha-group=1

  # The hawkular-services container
  hawkular:
    image: "pilhuhn/hawkular-services:latest"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    #volumes:
    #  - /tmp/opt/data:/opt/data
    links:
      - cassandra
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=cassandra

  # The Cassandra container
  cassandra:
    image: cassandra:3.7
    environment:
      - CASSANDRA_START_RPC=true
    #volumes:
    #  - /tmp/opt/data:/opt/data
