version: '2'
services:

  # The Cassandra container
  cassandra:
    image: cassandra:3.7
    environment:
      - CASSANDRA_START_RPC=true
    #volumes:
    #  - /tmp/opt/data:/opt/data

  # The hawkular-services container
  hawkular:
    image: "pilhuhn/hawkular-services:0.21.0.Final"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    #volumes:
    #  - /tmp/opt/data:/opt/data
    links:
      - cassandra
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=cassandra

  # The wildfly running in the domain mode container
  hawkfly-domain-middle:
    #build: ../../../images/master/02-mid-size-domain
    image: "jkremser/hawkfly-domain-middle:0.24.2"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
