version: '2'
services:

  # set up the wildfly in domain mode with embedded hawkular-agent
  hawkfly-domain-default:
    image: "pilhuhn/hawkfly-domain:0.24.2"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
    command: bash -c "sleep 30 && /opt/jboss/wildfly/bin/domain.sh -b 0.0.0.0"

  # The hawkular-server
  hawkular:
    image: "pilhuhn/hawkular-services:0.21.0.Final"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    volumes:
      - /tmp/opt/data:/opt/data
    links:
      - myCassandra
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=myCassandra

  # The used Cassandra container
  myCassandra:
    image: cassandra:3.7
    environment:
      - CASSANDRA_START_RPC=true
    volumes:
      - /tmp/opt/data:/opt/data
