version: '2'
services:

  # The wildfly running in the domain mode container (master)
  hawkfly-domain-middle-master:
    build: ../../../images/master/02-mid-size-domain
    image: "jkremser/hawkfly-domain-middle:latest"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular

  # The wildfly running in the domain mode container (slave)
  hawkfly-domain-middle-slave:
    build: ../../../images/slave/00-base
    image: "jkremser/hawkfly-domain-slave-base"
    links:
      - hawkfly-domain-middle-master
    environment:
      - DOMAIN_CONTROLLER_HOST=hawkfly-domain-middle-master
      - DOMAIN_CONTROLLER_PORT=9990
      - SERVERS=group1=1,group2=1

  # The hawkular-services container
  hawkular:
    image: "pilhuhn/hawkular-services:latest"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    #volumes:
    #  - /tmp/opt/data:/opt/data
    links:
      - cassandra
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=cassandra

  # The Cassandra container
  cassandra:
    image: cassandra:3.7
    environment:
      - CASSANDRA_START_RPC=true
    #volumes:
    #  - /tmp/opt/data:/opt/data
